<h2>Edit User</h2>

<form {{action "saveUser" on="submit" }}>
  {{ input value=firstName placeholder="First Name" }}
  {{ input value=lastName placeholder="Last Name" }}
  {{ input value=email placeholder="Email" }}
  {{ view "select" value=role content=roles }}

  {{ input type="submit" value="Save User" class="button" }}
</form>

<h3>Posts</h3>

{{#each post in posts}}
  <h4>
    {{#link-to "posts.edit" post}}
      {{post.title}}
    {{/link-to}}
  </h4>
  <p>{{post.body}}</p>
{{/each}}